@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Noto Sans", sans-serif;
font-family: "Noto Sans KR", sans-serif;
*/

/*variants*/
:root{
  --container:1200px;
  --fz:16px;
  --lh:24px;
  
}


/*layout*/
.container{
  width:var(--container);
  margin: 0 auto;
}
/*typography*/


/*link button*/


/*fonts*/

