

/*variants*/
:root{
  --container:1200px;
  --fz:16px;
  --lh:24px;
  --brandColor:#371909;
  --primaryColor:#FE5A15;
  --black:#212121;
  --white:#F2F2F2;
  --lightgray:#9E9E9E;
  
}

/*colors*/


/*layout*/
.container{
  width:var(--container);
  margin: 0 auto;
}
/*typography*/


/*link button*/


/*fonts*/

