@import url('reset.css');
@import url('common.css');



/* 뉴스 섹션 ar */
.news_bigtitle{
  display: flex;
  margin-bottom: calc(var(--lh) * 2);
  align-items: end;
}
.news_bigtitle .news_nav ul{
  display: flex;
}
.news_bigtitle h2{
  margin-right: 40px;
  line-height: calc(var(--lh) * 2);
}
.news_bigtitle .news_nav button{
  border: 1px solid var(--black);
  border-radius: 40px;
  width:90px;
  text-align: center;
  padding: 11px 0;
  margin-right: 14px;
  font-size: 14px;
  transition: 0.3s;
}
.news_bigtitle .news_nav button:hover{
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.news .content{
  display: flex;
  gap: calc(var(--lh) * 2);  
  margin-bottom: calc(var(--lh) * 4);
}
.content .news_list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .news_list ul{
  width: 587px;
  display: flex;
  flex-direction: column;
  gap: var(--lh);
  margin-bottom: calc(var(--lh) * 2);
}
.content .news_list ul li{
  display: none;
  background: #fff;
  border: rgba(158, 158, 158, 0.2) 1px solid;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  transition: 0.3s;
}
.content .news_list ul li.active{
  display: flex;
}
.content .news_list ul li:hover{
  box-shadow: 
  1px 1px 4px rgba(0,0,1,0.1);
}
.content .news_list ul li div{
  padding: 12px;
}
.content .news_list ul li img{
  border-radius: 10px 0 0 10px;
}
.content .news_list ul li h3{
  padding-bottom: 24px;
}
.content .news_list .article_btn{
  border: 1px solid var(--black);
  border-radius: 45px;
  width: 180px;
  line-height: 47px;
  text-align: center;
  transition: 0.3s;
}
.content .news_list .article_btn:hover{
  border: 1px solid var(--primary);
  color: var(--white);
  background: var(--primary);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.content .news_video{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.content .news_video h2{
  margin-bottom: 35px;
  width: 100%;
}
.content .news_video h2 span{
  color: var(--primary);
}
.content .news_video a{
  display: flex;
  align-items: center;
  gap: 10px;
}
.content .news_video svg path:hover{
  stroke: var(--primary);
} /*path 두개가 따로 호버 된다..*/

.content .video{
  position: relative;
  display: inline-block;
}
.content .video video{
  width: 565px;
  height: 309px;
  object-fit: cover;
}
.content .video #yt-play{
  position: absolute;
  z-index: 2;
  width: 54px;
  height: 54px;
  background-color: rgba(255,255,255,0.8);
  clip-path: polygon(35% 25%, 35% 75%, 75% 50%);
  box-shadow: 3 3 4px rgba(0, 0, 0, 0.8);
  top: calc(50% - 27px);
  left: calc(50% - 27px);
  display: none;
  transition: 0.5s;
}
.content .video #yt-play.active{
  display: block;
}

.content .video #yt-pause{
  position: absolute;
  z-index: 2;
  font-family: 'Material Icons';
  font-size: 45px;
  color: rgba(255,255,255,0.8);
  box-shadow: 3 3 4px rgba(0, 0, 0, 0.8);;
  left:calc(50% - 22.5px);
  top:calc(50% - 22.5px);
  display: none;
  transition: 0.5s;
}
.content .video #yt-pause.active{
  display: block;
}


/*
.content .video button{
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: rgba(255,255,255,0.8);
  clip-path: polygon(35% 25%, 35% 75%, 75% 50%);
  box-shadow: 3 3 4px rgba(0, 0, 0, 0.8);
  top: calc(50% - 19px);
  left: calc(50% - 19px);
}


/* section_brans_gs */
.brands{
  margin-bottom:120px;
  overflow: hidden;
}
.brands h2{
  text-align:center;
  margin-bottom:96px;
}
.brands ul{
  display:flex;
  gap:124px;
  position: relative;
  left:0;
}
.brands ul li a{
  width:168px;
  height: 168px;
  display: block;
}
.brands ul li img{
  width: 100%;
}
/* /section_brans_gs */
/* section_support_gs */
.support{
  margin-bottom:120px;
}
.support h2{
  margin-bottom:96px;
  text-align:center;
}
.support ul{
  display:flex;
  justify-content:space-between;
}
.support ul li a{
  width: 160px;
  height:160px;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid rgba(0,0,0,0.5);
  border-radius:50%;
  margin-bottom:24px;
}
.support ul li h3{
  margin:0;
  text-align:center;
}
/* /section_support_gs */


/* footer_gs */
footer{
  background:var(--brandcolor);
  font-size:12px;
}
footer .footer_all{
  color:var(--white);
  line-height:var(--lh);
  display:flex;
  justify-content: space-between;
  padding:48px 0;
}
footer .footer_title{
  display:flex;
}
footer .footer_title2{
  display:flex;
  flex-direction: column;
  gap:24px;
}
footer .footer_title h3{
  color:#f8af6a;
  font-size:36px;
  font-weight:bold;
}
footer .footer_title p{
  width: 213px;
  font-size:var(--fz);
}
footer nav{
 display:flex;
 justify-content: space-between;
 flex-direction: column;
}
footer .footer_menu{
  text-align:center;
  display:flex;
  gap:46px;
}
footer .footer_menu dt{
  color:#f8af6a;
  font-size:14px;
}
footer .footer_menu ul{
  font-size:14px;
}
footer .footer_menu ul li:first-child{
  color:var(--primary);
}
footer nav .sns_list{
  display:flex;
  justify-content: right;
  align-items:center;
  gap:20px;
}
footer nav .sns_list p{
  font-size:14px;
  color:#f8af6a;
}
footer nav .sns_list .sns_icon{
  display:flex;

  align-items:center;
  gap:14px;
}

footer nav .sns_list .sns_icon li a{
  width:33px;
  height:33px;
  display: block;
}
/* footer_gs */
/* footer hover */
footer nav .sns_list .sns_icon li:hover:first-child svg path{
  fill:rgba(24,199,242,0.8);
}
footer nav .sns_list .sns_icon li:hover:first-child svg rect{
  stroke:rgba(24,199,242,0.8);
}
footer nav .sns_list .sns_icon li:hover:nth-child(2) svg path{
  fill:rgba(230,33,23,0.8);
}
footer nav .sns_list .sns_icon li:hover:nth-child(2) svg rect{
  stroke:rgba(230,33,23,0.8);
}

footer nav .sns_list .sns_icon li:nth-child(3) img{
  display: none;
}
footer nav .sns_list .sns_icon li:nth-child(3) img.active{
  display: block;
}
footer nav .sns_list .sns_icon li:nth-child(3):hover img{
  display: block;
}
footer nav .sns_list .sns_icon li:nth-child(3):hover img.active{
  display: none;
}
footer nav .sns_list .sns_icon li:hover:nth-child(4) svg path{
  fill:rgba(0,0,0,0.8);
}
footer nav .sns_list .sns_icon li:hover:nth-child(4) svg rect{
  stroke:rgba(0,0,0,0.8);
}
footer nav .sns_list .sns_icon li:hover:last-child svg path{
  fill:rgba(10,102,194,0.8);
}
footer nav .sns_list .sns_icon li:hover:last-child svg rect{
  stroke:rgba(10,102,194,0.8);
}

/* /footer hover */



/* top_button_gs*/
.top_button img{
  width: 50px;
  height: 50px;
  position:fixed;
  left:90%;
  top:65%;
}
.top_button{
  opacity:0;
  visibility:hidden;
  transition:0.3s;
}
.top_button.btn{
  opacity:1;
  visibility:visible;
}
.top_button img{
  display:none;
}
.top_button img.active{
  display:block;
}
.top_button:hover img{
  display:block;
}
.top_button:hover img.active{
  display:none;
}

/* /top_button_gs */

/* 헤더섹션 ws */
header{
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  padding: 24px 0;
  position: sticky;
  top:0;
  z-index: 9999;
  background: #fff;
  transition: padding 0.3s;
}

header.shrink{
  padding: 10px 0; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
header nav>ul{
  display: flex;
  gap: 47px;
}


header nav>ul>li:hover>a{
  color: #FE5A15;
  font-weight: bold;
}
header nav ul .m_menu{
  position: relative;
  height: 100%;
  line-height: 40px;
  
}

header nav ul li ul{
  position: absolute;
  visibility: hidden;
  top:39px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 162px;
  gap:17px;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #FE5A15;
  z-index: 99;
  transition: opacity 0.3s;

}
header nav ul li:hover ul{
  opacity: 1;
  visibility: visible;
  
}

header nav ul li ul li{
  color: var(--white);
  line-height: 24px;
}
header nav ul li ul li:hover{
  font-weight: bold;
}




header nav h1 a{
 display: block;
 width: 71px;
 height: 74px;
 background: url(../images/header_logo.png) no-repeat;
 background-size: cover;
 text-indent: -999999em;
 overflow: hidden;

}

header nav form{
  width:230px;
  height:40px;
  position: relative;

}

header nav form input{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 50px 0 20px;
  border-radius:40px;
  border:1px solid  #9E9E9E ;
  margin-left: 10px;
  transition: 0.3s;
}

header nav form input:focus{
  outline: none;
  border: 1px solid #FE5A15; 
}


header nav form button{
  position:absolute;
  font-size: 25px;
  color: #9E9E9E;
  top:calc(50% - 12.5px);
  right:9px;
}



/* //헤더섹션 */

/* 슬라이드섹션ws */
.main_slide{
  width: 100%;
  margin-bottom: 120px;
}
.mainslide-wrapper{
  width: 100%;
  height: 720px;
}


.main_slide .mainslide-wrapper ul{
  width: 100%;
  height: 100%;
  position: relative;
}
.main_slide .mainslide-wrapper ul li{
  display: flex;
  justify-content:left;
  align-items: center;
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.main_slide .mainslide-wrapper ul li.active{
  opacity: 1;
  visibility: visible;
}

.main_slide .mainslide-wrapper ul li .contents{
  /* background-color: rgba(0,0,0,0.2); */
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:48px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.main_slide .mainslide-wrapper ul li .contents a{
  background: none;
  font-weight: bold;
  border-color:var(--white);
  /* border: 2px; */
  color: var(--white);
  transition: 0.3s;

}

.main_slide .mainslide-wrapper ul li .contents a:hover{
  background-color: #FE5A15;
  color: var(--white);
}

.m_slide1{
  background: url(../images/main_slide1.png);
}
.m_slide2{
  background: url(../images/main_slide2.png);
}
.m_slide3{
  background: url(../images/main_slide3.png);
}
.m_slide4{
  background: url(../images/main_slide4.png);
}

.mainslide-wrapper{
  position: relative;
}

.main_slide_btns{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  opacity: 0.7;
}


.mainslide-wrapper #prev{
  left: 50%;
  margin-left: -750px;
}
.mainslide-wrapper #next{
  right: 50%;
  margin-right: -750px;
}

.mainslide-wrapper .main_slide_btns svg path{
  transition: 0.3s;
}
.mainslide-wrapper .main_slide_btns svg:hover path {
  stroke:var(--primary);
}

.slide_gagebar{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  width:75%;
}
.slide_gagebar .status{
  color: var(--white);
  font-weight: bold;
  line-height: 24px;
}
.slide_gagebar .progresss-bar{
  width: 92%;
  height: 4px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  position: relative;
}
.slide_gagebar .progresss-bar .bar{
  width: 0;
  height: 100%; 
  position: absolute;
  top:0;
  left: 0;
  background-color: var(--white);
  transition: 4s;
}
/* //슬라이드섹션 */

/* company ym */
.company{
	margin-bottom: 112px;
}
.company .info{
	display: flex;
  margin-bottom: 96px; 
  
}
.company .info img{
  border-radius: 15px;
}
.company .info .content{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 112px 105px;
}
.company .info .content .main-tt{
  margin-bottom: 50px;
}
.company .info .content p{
  margin-bottom: 50px;
  text-align: center;
}
.company .info:nth-child(2){
  flex-direction: row-reverse;
}
.company .info .content p:nth-child(2){
  width:395px;
}
/* //company ym */

/* 제품소개 섹션 시작 ym */
.products{
  position: relative;
}
.products .sliderwrapper{
  overflow: hidden;
  max-width: 1160;
}
.products .sliderwrapper .slidecontainer{
  display: flex;
  gap: 50px;
  width: 1570px;
  height: 651px;
  align-items: center;
  margin: 95px 0 120px;
  transition: 0.5s;
}
.products h2{
  text-align-last: left;
  margin-bottom: 27px;
}
.products h3{
  margin-bottom: 24px;
}
.products h5{
  margin-bottom: 4px;
}
.products p{
 text-align: left;
 color: var(--medium-gray);
 

}
.products .sliderwrapper-wrap a{
  position: absolute;
  right: 0;
  top: -72px;
}

.products .sliderwrapper-wrap
{
  position: relative;
}
.products .sliderwrapper-wrap button{
  position: absolute;
  top: 232px;
}
.products .sliderwrapper-wrap .prev{
  left: -96px;
  transition: 0.3s;
}
.products .sliderwrapper-wrap .next{
  right: -96px;
  transition: 0.3s;
}

.products .sliderwrapper-wrap .prev :hover{
  content: url(/images/prev_hover_btn.svg);
}
.products .sliderwrapper-wrap .next :hover{
  content: url(/images/next_hover_btn.svg);
}

.products .sliderwrapper .slidecontainer li {
  flex: 1;
  opacity: 60%;
}
.products .sliderwrapper .slidecontainer li img{
  border-radius: 15px;
  width: 100%;
  margin-bottom: 24px;
}
.products .sliderwrapper .slidecontainer li.active{
  flex: 1.4375;
  opacity: 100%;
}

.products .sliderwrapper .slidecontainer li.active h3,
.products .sliderwrapper .slidecontainer li.active h4,
.products .sliderwrapper .slidecontainer li.active h5,
.products .sliderwrapper .slidecontainer li.active p 
{
  /* transform: scale(1.4); */
  width: 460px;
  transform-origin: left center;
  opacity: 100%;
}
.products .sliderwrapper .slidecontainer li.active h3{
  text-align: left;
  font: calc(var(--lh) * 2);
  font-size: calc(var(--fz) * 2.25);
  font-weight: bold;
}
.products .sliderwrapper .slidecontainer li.active h4{
  font: var(--lh);
  font-size: calc(var(--fz) * 1.25);
  font-weight: 500;
}
.products .sliderwrapper .slidecontainer li.active h5{
  font: 400 var(--lh);
  font-size: var(--fz);
  color: var(--black);
}
.products .sliderwrapper .slidecontainer li.active p{
  font: var(--lh);
  font-size:calc(var(--fz) * 0.75);
  font-weight: 400;
}
/* //제품소개 섹션 ym */