@import url('reset.css');
@import url('common.css');



/* 뉴스 섹션 ar */
.news_bigtitle{
  display: flex;
  margin-bottom: 48px;/* common 변수로 */
}
.news_bigtitle .news_nav ul{
  display: flex;
}
.news_bigtitle h2{
  font-size: 48px; /* common 변수로 */
  line-height: 48px; /* common 변수로 */
  font-weight: bold;
  margin-right: 40px;
}/*MainTT*/
.news_bigtitle .news_nav ul li{
  border: 1px solid #212121; /* common 변수로 */
  border-radius: 40px;
  width:90px;
  text-align: center;
  padding: 11px 0; /* 폰트 적용 후 ... 보자! */
  /*padding: 11px 20px; padding으로 동일하게 줄경우, 크기가 달라져서 안예쁨 일단 고민 중*/
  margin-right: 14px;
}

/* section_brans_gs */
.brands{
  margin-bottom:120px;
}
.brands h2{
  text-align:center;
  margin-bottom:96px;
}
.brands ul{
  display:flex;
  justify-content: space-between;
}
/* /section_brans_gs */
/* section_support_gs */
.support{
  margin-bottom:120px;
}
.support h2{
  margin-bottom:96px;
  text-align:center;
}
.support ul{
  display:flex;
  justify-content:space-between;
}
.support ul li a{
  width: 160px;
  height:160px;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid rgba(0,0,0,0.5);
  border-radius:50%;
  margin-bottom:24px;
}
.support ul li h3{
  margin:0;
  text-align:center;
}
/* /section_support_gs */


/* footer_gs */
footer{
  background:#FE5A15;
  font-size:12px;
}
footer .footer_all{
  color:#fff;
  padding:48px 360px;
  display:flex;
  gap: 174px;
}
footer .footer_title{
  display:flex;
}
footer .footer_title2{
  display:flex;
  flex-direction: column;
  gap:24px;
}
footer .footer_title h3{
  color:#371909;
  font-size:36px;
}
footer .footer_title p{
  font-size:16px;
  width: 213px;
}
footer nav{
 display:flex;
 justify-content: space-between;
 flex-direction: column;
}
footer .footer_menu{
  text-align:center;
  display:flex;
  gap:46px;
}
footer .footer_menu dt{
  color:#371909;
  font-size:14px;
}
footer .footer_menu ul{
  color:#371909;
  font-size:14px;
}
footer .footer_menu ul li:first-child{
  color:#193CEA;
}
footer nav .sns_list{
  display:flex;
  justify-content: right;
  gap:20px;
}
footer nav .sns_list p{
  font-size:14px;
  color:#371909;
}
footer nav .sns_list .sns_icon{
  display:flex;
  flex-direction: row;
  gap:14px;
}
/* footer_gs */



/* top_button_gs*/
#top{
  position:fixed;
  left:80%;
  top:80%;
}
#top:hover{
  background: no-repeat url(../images/footer_top_hover.svg);
}
/* /top_button_gs */
/* 헤더섹션 ws */
header{
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  padding: 24px 0;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
header nav ul{
  display: flex;
  gap: 47px;
}

header nav ul li ul{
  display: none;
  position: absolute;
  background-color: #FE5A15;
}

header nav h1 a{
 display: block;
 width: 71px;
 height: 74px;
 background: url(../images/header_logo.png) no-repeat;
 background-size: cover;
 text-indent: -999999em;
 overflow: hidden;

}

header nav form{
  width:230px;
  height:40px;
  position: relative;

}

header nav form input{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  border-radius:40px;
  border:1px solid  #9E9E9E ;
  margin-left: 10px;
  transition: 0.3s;
}

header nav form input:focus{
  outline: none;
  border: 1px solid #FE5A15; 
}


header nav form button{
  position:absolute;
  font-size: 25px;
  color: #9E9E9E;
  top:calc(50% - 12.5px);
  right:9px;
}



/* //헤더섹션 */

/* 슬라이드섹션ws */
.main_slide{
  width: 100%;
  margin-bottom: 120px;
}
.mainslide-wrapper{
  width: 100%;
  height: 720px;
}


.main_slide .mainslide-wrapper ul{
  width: 100%;
  height: 100%;
  position: relative;
}
.main_slide .mainslide-wrapper ul li{
  display: flex;
  justify-content:left;
  align-items: center;
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
}

.main_slide .mainslide-wrapper ul li.active{
  opacity: 1;
  visibility: visible;
}

.m_slide1{
  background: url(../images/main_slide1.png);
}

.mainslide-wrapper{
  position: relative;
}

.main_slide_btns{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.mainslide-wrapper #prev{
  left: 35px;
}
.mainslide-wrapper #next{
  right: 35px;
}

.slide_gagebar{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  width:75%;
}
.slide_gagebar .status{
  color: var(--white);
  font-weight: bold;
  line-height: 24px;
}
.slide_gagebar .progresss-bar{
  width: 92%;
  height: 4px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  position: relative;
}
.slide_gagebar .progresss-bar .bar{
  width:30%;
  height: 100%; 
  position: absolute;
  left: 0;
  background-color: var(--white);
}





/* //슬라이드섹션 */

/* company ym */
.company{
	margin-bottom: 112px;
}
.company .info{
	display: flex;
}
.company .info:nth-child(2){
	margin-top: 96px;
}